.testBody {
    text-align: center;
}



.button_links {
    background-color: transparent;
    color: #3636ff;
    border: none;
}

.button_links:hover {
    background-color: transparent;
    border-bottom: 2px #3636ff solid ;
    border-radius:0;
    color: #3636ff;
}
