//.navBar {
//  a {
//    color: #333;
//    cursor: pointer;
//    border-bottom: 1px solid transparent;
//  }
//  img {
//    width: 100px;
//  }
//
//  //.signArea {
//  //  padding: 5px;
//  //}
//
//  .links {
//    color: $linksColor;
//    font-weight: bold;
//    font-size: 18px;
//    justify-content: center;
//    // transition: ease;
//  }
//  .links:hover {
//    border-bottom: 1px solid $linksColor;
//    transition-duration: 0.4s;
//  }
//  .Logo {
//    // font-size: 28px;
//    width: 40px;
//
//    border-bottom: none;
//  }
//}
