.test {
  font-weight: bold;
  color: #fff;

  .card {
    width: 600px;
    margin: 10px auto;
  }
  .card-1 {
    margin: auto;
    background-color: white;
    border-radius: 10px;
    width: 750px;
  }
  .card:hover {
    background-color: rgb(222, 222, 222);
    cursor: pointer;
  }
}
