//@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

.customLink {
  color: rgb(35, 132, 250);
  cursor: pointer;
}

.benBtn {
  background-color: transparent;
  width: 200px;
  color: rgb(57, 39, 252);
  font-size: 22px;
  border: 1px solid rgb(57, 39, 252);
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  margin: 3px 3px;
  &:hover {
    background-color: rgb(57, 39, 252);
    transition: 0.3s ease-in-out;
    color: #fff;
  }

  &:disabled {
    // background-color: orange;
    // border: 1px solid orange;
    color: black;
    cursor: not-allowed;
    border: 1px solid black;
  }

  // &:disabled:hover {
  //   background-color: transparent;
  // }
}

.benCloseBtn {
  border: 1px solid rgb(252, 53, 53);
  color: rgb(252, 53, 53);

  &:hover {
    background-color: rgb(252, 53, 53);
    transition: 0.3s ease-in-out;
    color: #fff;
  }
}

.benGreenBtn {
  border: 1px solid rgb(0, 182, 70);
  color: rgb(0, 182, 70);

  &:hover {
    background-color: rgb(0, 182, 70);
    transition: 0.3s ease-in-out;
    color: #fff;
  }
}

.benBlackBtn {
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);

  &:hover {
    background-color: rgb(0, 0, 0);
    transition: 0.3s ease-in-out;
    color: #fff;
  }
}

.benOrangeBtn {
  border: 1px solid orange;
  color: orange;

  &:hover {
    background-color: orange;
    transition: 0.3s ease-in-out;
    color: #fff;
  }
}

.benWhiteBtn {
  border: 1px solid white;
  color: white;

  &:hover {
    background-color: white;
    transition: 0.3s ease-in-out;
    color: black;
  }
}

.benLoginBtn {
  background-color: rgb(252, 35, 227);
  width: 200px;
  color: rgb(255, 255, 255);
  font-size: 22px;
  border: 1px solid white;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  margin: 10px auto;
  transition-duration: 0.2s;
}
.benLoginBtn:hover {
  transform: scale(1.1);
}

.modalLink {
  color: rgb(0, 136, 255);
  cursor: pointer;
  font-size: 18px;
  margin: 5px;
}
