@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

.customLink {
  color: rgb(35, 132, 250);
  cursor: pointer;
}

.benBtn {
  background-color: transparent;
  width: 200px;
  color: purple;
  font-size: 22px;
  border: 1px solid purple;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: rgba(208, 133, 208, 0.6);
    transition: 0.3s ease-in-out;
    color: #fff;
  }
}

.benCloseBtn {
  border: 1px solid rgb(252, 53, 53);
  color: rgb(252, 53, 53);

  &:hover {
    background-color: rgba(235, 88, 88, 0.6);
    transition: 0.3s ease-in-out;
    color: #fff;
  }
}
